GLACIER_API_KEY=your_glacier_api_key_here
CHAINKIT_MCP_URL=http://localhost:2718/sse
WALLET_ADDRESS=0xYourWalletAddressHere

AVAX_RPC_URL=https://api.avax-test.network/ext/bc/C/rpc
AVAX_PRIVATE_KEY=your_64_char_hex_private_key_here
